{% load static %}
{% load bootstrap4 %}
{% load icons %}

<!doctype html>
<html>

  <head>

  {% block head-meta %}
  	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  {% endblock %}

  {% block head-css %}
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'kuring.css' %}">
    <link rel="icon" type="image/png" href="{% static 'karbon-white.png' %}"/>
  {% endblock %}

  </head>

<body>

{% block base-js %}
  <script type="text/javascript" src="{% static 'jquery.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
{% endblock %}

<nav class="navbar navbar-expand-lg navbar-light bg-dark text-light">

  <img class="navbar-logo" src="{% static "karbon.png" %}" alt="logo">
  <a class="navbar-brand nav-link navbar-brand-container text-light" href="#">kuring</a>

  <div class="container"><div class="row">
    {% block nav-toolbox %}
    {% endblock %}
  </div></div>

</nav>

  <div class="container-fluid"><div class="row text-center">
    <div class="col-12 font-weight-bold text-info" style="padding-top: 50px; padding-bottom: 50px;">
      <div class="container">
{% block content %}
{% endblock %}
      </div>
    </div>
  </div></div>

</body>

</html>
