{% load static %}
{% load bootstrap4 %}
{% load icons %}

<!doctype html>
<html>

  <head>
    {% block head-meta %}
  	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% endblock %}

    {% block head-css %}
      {% bootstrap_css %}
      {% bootstrap_javascript jquery='full' %}
      {% bootstrap_messages %}
      <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
    {% endblock %}

    <link rel="stylesheet" href="{% static 'kuring.css' %}">
    <link rel="favicon" type="image/png" href="{% static 'karbon-white.png' %}"/>

  </head>

<body>

  <div class="container">
    <nav class="navbar navbar-expand-lg navbar-light bg-dark text-light">

        <img class="navbar-logo" src="{% static "karbon.png" %}" alt="logo">
        <ul class="navbar-nav mr-auto navbar-brand-container">
          <li class="nav-item dropdown">
            <a class="navbar-brand nav-link dropdown-toggle text-light" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              kuring
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              {% if archived %}
              <!-- TODO : to be populated with the elements of the archive
                <a class="dropdown-item" href="#">Action</a>
                <div class="dropdown-divider"></div>
               -->
               {% else %}
                <a class="dropdown-item" href="#">(no elements)</a>
               {% endif %}
            </div>
          </li>
        </ul>

        {% block nav-toolbox %}
        {% endblock %}

    </nav>
  </div>

</body>

</html>
