[submodule "kuring/drivers/thermal-bench"]
	path = kuring/drivers/thermal-bench
	url = git@github.com:rtubio/thermal-bench.git
[submodule "kuring/drivers/ardoven"]
	path = kuring/drivers/ardoven
	url = git@github.com:rtubio/ardoven.git
[submodule "kuring/drivers/ivsystem"]
	path = kuring/drivers/ivsystem
	url = git@github.com:rtubio/ivsystem.git
[submodule "kuring/drivers/mlx90640"]
	path = kuring/drivers/mlx90640
	url = git@github.com:rtubio/mlx90640.git
[submodule "xpython"]
	path = xpython
	url = git@github.com:rtubio/xpython.git
