# Basic configuration for the execution of the automated scripts

USER="$( whoami )"
LOG_LEVEL='debug'

CONFIG_DIR="$(pwd)/config"
CONFIG_CELERY="$CONFIG_DIR/celery.conf"
REQUIREMENTS_FILE="$CONFIG_DIR/requirements.txt"

STATIC_DIR="$(pwd)/static"

PACKAGES_FILE="$CONFIG_DIR/debian.dev.packages"

SCRIPTS_DIR="$(pwd)/scripts"
db_sh="$SCRIPTS_DIR/db/setup.sh"
db_django_sh="$SCRIPTS_DIR/db/django.sh"
django_skg="$SCRIPTS_DIR/djsk.py"
influxdb_py="$SCRIPTS_DIR/db/influx.py"

SECRETS_DIR="$(pwd)/.__skr__"
SECRETS_DB="$SECRETS_DIR/db.env"
SECRETS_MAIL="$SECRETS_DIR/mail.json"
SECRETS_DJANGO="$SECRETS_DIR/django.json"
SECRETS_INFLUXDB="$SECRETS_DIR/influxdb.json"

TMP_DIR='/tmp'
TMP_SQLBATCH="$TMP_DIR/sqlcommands"

DJANGO_APP_NAME='kuring'
DJANGO_APP_DIR="$(pwd)/$DJANGO_APP_NAME"

VENV_DIR="$DJANGO_APP_DIR/.env"
VENV_ACTIVATE="$VENV_DIR/bin/activate"
