{% extends 'base.html' %}
{% load icons %}

{% block nav-toolbox %}

<div class="collapse navbar-collapse" id="navbarSupportedContent">
  <ul class="navbar-nav mr-auto">
    <li class="nav-item active">
      <a class="nav-link text-light" href="{% url 'dashboard' %}">{% icon 'play' %}</a>
    </li>
  </ul>
  <ul class="navbar-nav mr-auto">
    <li class="nav-item active">
      <a class="nav-link text-light disabled" href="{% url 'dashboard' %}">{% icon 'stop' %}</a>
    </li>
  </ul>
  <ul class="navbar-nav mr-auto">
    <li class="nav-item active">
      <a class="nav-link text-light disabled" href="{% url 'dashboard' %}">{% icon 'pause' %}</a>
    </li>
  </ul>
</div>

{% endblock %}
