{% extends 'base.html' %}
{% load bootstrap4 %}
{% load icons %}
{% load taskertags %}

{% block nav-toolbox %}
  <div class="col"><a id="db-play" class="nav-link text-light" href="{% url 'dashboard' %}">{% icon 'home' %}</a></div>
  <div class="col"><a id="db-play" class="nav-link text-light" href="{% url 'createTask' %}">{% icon 'plus' %}</a></div>
{% endblock %}

{% block content %}

  {% if object_list %}
    <div class="container">
    {% for object in object_list %}
      <div class="row text-center p-3 mb-2 bg-secondary text-white">
        <div class="col-7"><a class=" text-white" href="{% url 'detailTask' object.pk %}">{{ object.name }}</a></div>
        <div class="col-4 font-weight-normal">{{ object.created|date:"SHORT_DATETIME_FORMAT" }}</div>
        <div class="col-1 font-weight-normal">{{ object.status|status }}</div>
      </div>
    {% endfor %}
    </div>
  {% else %}
    <span class="text-center">(no tasks)</span>
  {% endif %}

{% endblock %}
