{% extends 'base.html' %}
{% load bootstrap4 %}
{% load icons %}

{% block nav-toolbox %}
  <a id="db-play" class="nav-link text-light" href="{% url 'createTask' %}">{% icon 'plus' %}</a>
{% endblock %}

{% block content %}

  {% if object_list %}
    <div class="container">
    {% for o in object_list %}
      <div class="row text-center p-3 mb-2 bg-secondary text-white">
        <div class="col-8"><a href="{% url 'detailTask' o.pk %}" class="text-white">{{ o.name }}</a></div>
        <div class="col-2">{{ o.date|date }}</div>
        <div class="col-2">{{ o.status }}</div>
      </div>
    {% endfor %}
    </div>
  {% else %}
    <span class="text-center">(no tasks)</span>
  {% endif %}

{% endblock %}
