{% extends 'dashboard.html' %}
{% load bootstrap4 %}
{% load icons %}

{% block content %}

<!-- Modal -->
<div class="modal fade" id="modalConfirm" tabindex="-1" role="dialog" aria-labelledby="confirm" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <span aria-hidden="true">Are you sure that you want to PERMANENTLY delete this task?</span>
      </div>
      <div class="modal-footer">
        <a type="button" class="btn btn-primary" href="{% url 'deleteTask' object.pk %}">{% icon 'trash' %}</a>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">{% icon 'times' %}</button>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-3 bg-secondary text-light">
      <hr/>
      <p>{{ object.name }}</p>
      <p class="font-weight-light">{{ object.date }}</p>
      <p class="font-weight-light">{{ object.status }}</p>
      <hr/>
      <div class="row">
        <div class="col">
          <a id="db-trash" class="nav-link text-light" data-toggle="modal" data-target="#modalConfirm">{% icon 'trash' %}</a>
        </div>
        <div class="col">
          <a id="db-edit" class="nav-link text-light" href="{% url 'updateTask' object.pk %}">{% icon 'edit' %}</a>
        </div>
        <div class="col">
          <p id="db-down" class="nav-link text-light na" href="#">{% icon 'chevron-down' %}</p>
        </div>
      </div>
      <hr/>
      <div class="row">
        <div class="col">
          <a id="db-play" class="nav-link text-light" href="#">{% icon 'play' %}</a>
        </div>
        <div class="col">
          <a id="db-stop" class="nav-link text-light na" href="#">{% icon 'stop' %}</a>
        </div>
        <div class="col">
          <a id="db-pause" class="nav-link text-light na" href="#">{% icon 'pause' %}</a>
        </div>
      </div>
      <hr/>
    </div>
    <div class="col-9 bg-light"><div class="row p-2"><div class="col">
          Text B
    </div></div></div>
  </div>
</div>

{% endblock %}
