{% extends 'dashboard.html' %}
{% load bootstrap4 %}
{% load icons %}
{% load taskertags %}

{% block content %}

{% include 'partial/confirmDelete.html' %}
{% include 'partial/confirmRun.html' %}
{% include 'partial/confirmStop.html' %}

<div class="container-sl">
  <div class="row">
    <div class="col-2 bg-secondary text-light">
      <hr/>
      <p class="text-capitalize">{{ object.name }}</p>
      <p class="font-weight-normal">{{ object.date|date:"SHORT_DATETIME_FORMAT" }}</p>
      <p class="font-weight-normal">{{ object.status|status }}</p>
      <hr/>
      <div class="row">
        <div class="col">
          <a id="db-trash" class="nav-link text-light" data-toggle="modal" data-target="#confirmDelete">{% icon 'trash' %}</a>
        </div>
        <div class="col">
          <a id="db-edit" class="nav-link text-light" href="{% url 'updateTask' object.pk %}">{% icon 'edit' %}</a>
        </div>
        <div class="col">
          <p id="db-down" class="nav-link text-light na" href="#">{% icon 'chevron-down' %}</p>
        </div>
      </div>
      <hr/>

    {% block controls %}

      <div class="row">
        {% if object.status == 'N' %}
          {% include 'partial/controls/new.html' %}
        {% elif object.status == 'R' or object.status == 'P' %}
          {% include 'partial/controls/running.html' %}
        {% else %}
          {% include 'partial/controls/finalized.html' %}
        {% endif %}
      </div>

    {% endblock %}

      <hr/>

    </div>
    <div class="col-10 bg-light"><div class="row p-2"><div class="col">
          Text B
    </div></div></div>

  </div>
</div>

{% endblock %}
