{% extends 'dashboard.html' %}
{% load bootstrap4 %}
{% load icons %}
{% load taskertags %}
{% load static %}

{% block content %}
<div class="container-fluid">

{% include 'partial/confirmDelete.html' %}
{% include 'partial/confirmRun.html' %}
{% include 'partial/confirmStop.html' %}
{% include 'partial/connectionLost.html' %}
{% include 'partial/taskFinished.html' %}

<div class="invisible" id="taskId">{{ object.pk }}</div>
<div class="invisible" id="taskStatus">{{ object.status }}</div>

<div class="container-sl">
  <div class="row">
    <div class="col-3 bg-secondary text-light">
      <hr/>
      <p class="text-capitalize">{{ object.name }}</p>
      <p class="font-weight-normal">{{ object.created|date:"SHORT_DATETIME_FORMAT" }}</p>
      <p id="taskStatusLabel" class="font-weight-normal">{{ object.status|status }}</p>
      <hr/>
      <div class="row">
        <div class="col">
          <a id="db-trash" class="nav-link text-light" data-toggle="modal" data-target="#confirmDelete" href="#">
            {% icon 'trash' %}
          </a>
        </div>
        <div class="col">
          <a id="db-edit" class="nav-link text-light" href="{% url 'updateTask' object.pk %}">{% icon 'edit' %}</a>
        </div>
        <div class="col">
          <p id="db-down" class="nav-link text-light na" href="#">{% icon 'chevron-down' %}</p>
        </div>
      </div>
      <hr/>

    {% block controls %}

      <div class="row">
        <div class="col">
          <a id="db-run" class="nav-link text-light" href="#"
              onclick="$('#confirmRun').modal();">{% icon 'play' %}</a>
        </div>
        <div class="col">
          <a id="db-stop" class="nav-link text-light na" href="#"
              onclick="$('#confirmStop').modal();">{% icon 'stop' %}</a>
        </div>
        <div class="col">
          <a id="db-pause" class="nav-link text-light na" href="#">{% icon 'pause' %}</a>
        </div>
      </div>

    {% endblock %}

      <hr/>

      <div class="row text-center" style="font-size: 85%;">
        <div class="col-2"><p>ws</p></div>
        <div class="col-2"><p id="wsStatus"></p></div>
        <div class="col-2"><p>d (us)</p></div>
        <div class="col-2"><p id="wsDelay">-</p></div>
        <div class="col-2"><p>j (us)</p></div>
        <div class="col-2"><p id="wsJitter">-</p></div>
      </div>

      <div class="row"><div class="col"><div class="form-group mb-0">
        <textarea
          id="console" rows="20"
          class="form-control bg-secondary border-secondary text-light" style="font-size: 80%;">
        </textarea>
      </div></div></div>

      <hr/>

    </div>
    <div class="col-9 bg-light"><div class="row p-2"><div class="col">
      <div id="graph1" style="width: 100%; height: 800px;">
    </div></div></div>

  </div>
</div>

<script type="text/javascript" src="{% static 'plotly.js'%}"></script>
<script type="text/javascript" src="{% static 'control.js' %}"></script>

</div>
{% endblock %}
